/*----------reset styles---------*/
input,
button {
  outline: none;
}
/*----------reset styles---------*/

/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.about {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.about__image {
  width: 100%;
}

.about__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .about {
    text-align: center;
  }
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.adding-field__area,
.item__text,
.item__text-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.adding-field {
  display: flex;
}

.main__list {
  margin: 0;
  padding: 0px;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3A3a;
}

/* Heading */
.main__subtitle{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.text-input:focus {
  color: #333;
}

/* New Task */
.new-task-label {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__checkbox {
  margin: 0 10px;
}

.item__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.item__delete-btn__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.item__delete-btn__image:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-list .item__text {
  text-decoration: line-through; 
  color: #888;
}

/* Edit Task */
.item__text-input {
  display: none
}

.edit-mode .item__text-input {
  display: inline-block;
  width: 224px
}

.edit-mode .item__text {
  display: none;
}